

{% extends 'base.html' %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

{% for source in sources %}

    <div class="col-md-4">

        <div class="panel panel-info" id="the">
            <div class="panel-heading">
                <a href="/news/{{source.id}}">{{source.name}}</a>
            </div>
            <div class="panel-body">
                <p>{{source.description}}</p>
                <a href="/news/{{source.id}}" class="btn btn-info btn-sm">{{source.name}}</a>
            </div>
        </div>

    </div>


{% endfor %}

{% endblock %}