<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {%if title %}
    <title> {{title}} </title>
    {% else %}
    <title>welcome to the best news Website</title>
    {% endif %}

</head>

<body>
    <!--sources section-->
    <h3>News Sources</h3>
    <ul>
        {% for source in sources %}
        <li> {{source.id}} </li>
        {% endfor %}
    </ul>
    <ul>
        {% for source in sources %}
        <li> {{source.name}} </li>
        {% endfor %}
    </ul>
    <ul>
        {% for source in sources %}
        <li> {{source.description}} </li>
        {% endfor %}
    </ul>
</body>

</html>