{% extends 'base.html' %}
{% block content %}
<h1>NEWS MOTO</h1>
<style>
    #home {
        margin: 40px;
        border-radius: 10px;
        border: solid 3px rgba(32, 31, 31, 0.801);
        -moz-box-shadow: 10px 0 10px 1px #161a19;
        box-shadow: 10px 0 10px 1px #0d0f0f;

    }

    .panel-heading {
        margin: 10px;
    }

    img {
        padding: 10px;
        width: 50%;
        height: auto;
        border-radius: 10px;
    }

    a {
        padding: 10px;
        margin: 10px;
    }
</style>
<ul>
    {% for a_news in news %}
    <div class="container" id="home">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2> {{a_news.title}} </h2>
            </div>

        </div>
        <div class="card-body">
            <h3> BY {{a_news.author}}</h3>
            <p>{{a_news.description}}</p>
            <img src={{a_news.urlToImage}} alt="">
            <br>
            <a href="{{news.url}}" class="btn btn-info btn-md">Visit</a>
        </div>
        <br>
        
    </div>
    {%endfor%}
</ul>
{% endblock %}